  <form class="cardButton" name="editCard">
    <input type="submit" value="Редактировать">
  </form>
  <form class="cardButton" name="deleteCard">
    <input type="submit" value="Удалить">
  </form>
