<button class="btn btn-sm px-2 btn-outline-secondary" onclick="document.location='/edit/{{id}}'">
   Редактировать
</button>
<button type="submit" class="btn px-2 btn-sm btn-warning deleteStorageButton">Удалить</button>

