
  {{!-- <form class="cardButton" name="editCard">
    <input type="submit" value="Редактировать">
  </form> --}}
  {{!-- <form class="cardButton" name="deleteCard">

    <input type="submit" value="Удалить">
  </form> --}}

<div class="cardButtons">
 <button class="editButton" id="{{this.id}}">Edit</button>
 <button class="deleteButton" id="{{this.id}}">Delete</button>
</div>
