<form action="/edit">
  <label for="name">Название</label>
  <input type="text" name="cardsName" id="name">
  <label for="price">Стоимость</label>
  <input type="text" name="price" id="price">
  <label for="condition">Состояние</label>
  <input type="text" name="condition" id="condition">
  <input type="submit" value="{{action}}">
</form>
