
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magic Card Shop</title>
</head>
<body>
  <header>
    <form action="/search" method="post">
      <input type="text" name="search">
      <input type="submit" value="Поиск">
    </form>
    <form action="/basket">
        <input type="submit" value="Корзина">
    </form>
    {{#if isAutorized}}
    <button>Меню</button>
    {{else}}
    <form action="/login">
        <input type="submit" value="Войти">
    </form>
    <form action="/registration">
        <input type="submit" value="Зарегистрироваться">
    </form>
    {{/if}}
  </header>
  {{{body}}}
</body>
</html>
