<br>
<form action="/login" method="post">
  <label for="email">Введите e-mail</label>
  <input type="email" name="email" id="email">
  <br>
  <label for="password">Введите пароль</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Войти">
</form>
